		
     <div class="container mt-5">
         <div class="row">
             <div class="col-md-12">
                 <div class="section-header text-center mb-2 mt-4">
                     <h2 class="">My Service</h2>
                     <p>Автосервис по адресу пр.Непокоренных д.17 к.4 лит.Е — это уникальный сервис, который специализируется на ремонте, техническом обслуживании, а так же тюнинге автомобилей УАЗ. </p>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-1">
                         <h2 class="text-center p-2">Ремонт двигателя</h2>
                     </div>
                     <div class="service-text">
                        <p> Мы предоставляем комплексные услуги по ремонту двигателей. Предварительная диагностика двигателей позволяет максимально точно определить причины неисправности.</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
             <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-2">
                         <h2 class="text-center p-2">Кузовной ремонт</h2>
                     </div>
                     <div class="service-text">
                         <p>Ваш автомобиль попал в аварию и получил серьезные повреждения? Наш автосервис проведет качественный кузовной ремонт, восстановит геометрию кузова и проверит автомобиль на наличие скрытых повреждений.
</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
             <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-3">
                         <h2 class="text-center p-2">Кузовной ремонт</h2>
                     </div>
                     <div class="service-text">
                         <p>Кузовной ремонт (все виды рихтовочных и сварочных работ, ремонт порогов, пола, локальное удаление коррозии и вмятины)Все виды покрасочных работ (в том числе локальная окраска деталей)</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
              <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-4">
                         <h2 class="text-center p-2">Кузовной ремонт</h2>
                     </div>
                     <div class="service-text">
                         <p>Кузовной ремонт (все виды рихтовочных и сварочных работ, ремонт порогов, пола, локальное удаление коррозии и вмятины)Все виды покрасочных работ (в том числе локальная окраска деталей)</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
              <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-5">
                         <h2 class="text-center p-2">Кузовной ремонт</h2>
                     </div>
                     <div class="service-text">
                         <p>Кузовной ремонт (все виды рихтовочных и сварочных работ, ремонт порогов, пола, локальное удаление коррозии и вмятины)Все виды покрасочных работ (в том числе локальная окраска деталей)</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
              <div class="col-md-6 col-lg-4 mt-2">
                 <div class="single-service text-center">
                     <div class="service-bg service-bg-6">
                         <h2 class="text-center p-2">Кузовной ремонт</h2>
                     </div>
                     <div class="service-text">
                         <p>Кузовной ремонт (все виды рихтовочных и сварочных работ, ремонт порогов, пола, локальное удаление коррозии и вмятины)Все виды покрасочных работ (в том числе локальная окраска деталей)</p>
                         <a href="#" class="btn-aria mt-2">читать
                         <i class="fas fa-long-arrow-alt-right ml-1"></i></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>

