<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="logo  navbar-brand">
                    DmiStep Digital
                </div>
            </div>
            <!----<div class="col-md-6">
            					<div class="socials">
            						<a target="_blank" href="https://vk.com/glo_academy" class="social"><img src="img/vk.svg" alt="Группа вконтакте" title="Группа вконтакте"></a>
            						<a target="_blank" href="" class="social"><img src="img/facebook.svg" alt="Группа facebook" title="Группа facebook"></a>
            						<a target="_blank" href="https://www.youtube.com/channel/UCVswRUcKC-M35RzgPRv8qUg" class="social"><img src="img/youtube.svg" alt="Канал на YouTube" title="Канал на YouTube "></a>
            						<a target="_blank" href="https://www.instagram.com/glo_web_academy/" class="social"><img src="img/instagram.svg" alt="Instagram" title="Instagram"></a>
            					</div>
            				</div>--->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1 class="header__title"> {{ page.title }} </h1>

                <p class="header__text">
                    Программы, сервисы и сайты, которые помогут в работе.
                </p>
                <a target="_blank" href="https://bkb3vvn6.gitbook.io/knowledge-base/" class="btn btn-primary"> <span
                    class="button-text">Перейти в Базу знаний</span> <img class="button-img"
                    src="img/github-logo.svg" alt=""></a>
            </div>
        </div>
    </div>
</header>