	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta property="og:title" content="Полезные ссылки 👨‍💻 для веб-разработчика" />
	<meta property="og:description" content="Программы, сервисы и сайты, которые помогут в работе." />
	<meta property="og:image" content="img/preview.jpg" />
	<meta property="og:type" content="profile" />
	<meta property="og:url" content="https://dmistep.github.io/mylink/" />
	<title>Полезные ссылки 👨‍💻 для веб-разработчика</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">

