<div class="container mt-5">
    <div class="section-intro">
        <h4 class="section-intro__title">мои сервисы</h4>
        <h2 class="section-intro__subtitle bottom-border"> <span>Мои</span> Макеты </h2>
    </div>
    <div class="row">
        <div class="col-lg-4 mt-3">
            <div class="media">
                <i class="fas fa-link align-self-center mr-3"></i>
                <div class="media-body">
                    <h5 class="mt-0 card-title">Мои линки</h5>
                    <h6 class="card-subtitle mb-0 text-muted">полезные сайты</h6>
                    <p class="card-text">
                        Сайт где я собираю полезные ссылки для вэб-разработки и вэб-дизайна.
                    </p>
                    <a target="_blank" href="https://www.notion.so/My-links-8cf0361af88f417a933764d4c68953b8" class="btn btn-sm card-btn mt-3">перейти</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-3">
            <div class="media">
                <i class="fab fa-asymmetrik align-self-center mr-3"></i>
                <div class="media-body">
                    <h5 class="mt-0 card-title">3Д-фабрик</h5>
                    <h6 class="card-subtitle mb-0 text-muted">макет</h6>
                    <p class="card-text">
                        Тестовый макет сайта для компании 3Д-Фабрик. Alfa версия.
                    </p>
                    <a href="#" class="btn btn-sm card-btn  mt-3">перейти</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-3">
            <div class="media">
                <i class="fas fa-at align-self-center mr-3"></i>
                <div class="media-body">
                    <h5 class="mt-0 card-title">Мои наброски</h5>
                    <h6 class="card-subtitle mb-0 text-muted">наброски и макеты</h6>
                    <p class="card-text">
                        Модули для сайтов. Куски кода. Идеи и зарисовки отдельных блоков
                    </p>
                    <a href="#" class="btn btn-sm card-btn mt-3">перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>