<section id="showcase" class="mt-4">
    <div class="container">
        <div class="row h-100 align-items-center">
            <!---<div class="col-md-4">
                <div class="showcase-left">
                    <img src="img/image4.jpg" class="img-fluid img-thumbnail">
                </div>
            </div>--->
            <div class="col-md-8">
                <div class="showcase-right">
                    <h1><span>Меня зовут</span> Дмитрий.</h1>
                    <p>
                        Я делаю то, что умею делать лучше всего: предоставляю клиентам хорошо продуманные, справедливо оцененные,
                        специализированные веб-сайты, решения для электронной коммерции, CMS, CRM.
                    </p>
                </div>
                <br>
                <a class="btn btn-sm showcase-btn">перейти</a>
            </div>
        </div>
    </div>
</section>